// Place all the styles related to the Articles controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.commentf
{
	margin-left: 15px;
}
.btn-back
{
	background-color: gray ;
	color: white;
	margin-bottom: 40px;
}
