// Place all the styles related to the Emojis controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.picsize img
{
	width: auto;
	height: 40px;
	display: block;
	margin: auto;
}
.em_style
{
	text-align: center;
}

.list_emojis_container
{
	max-width: 400px;
	margin: 0 auto;
}