.field_str
{
	.field
	{
		
	}
	font-weight: bold;
	padding: 15px;
}
.marpad
{
	margin: 10px 10px;
	padding: 10px 20px;
}
.pad-10
{
	padding: 0px 10px;
}
.hand
{
	cursor: pointer;
}