// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.greeting
{
	display: flex;
	justify-content: flex-end;
	margin-right: 5px;
}
.textprompt
{
	color: #B21C1C;
	font-size: 130%;
}
.btn-sep
{
	width: 1px;
	height: 20px;
}